@inherits LayoutComponentBase
@using GameGuessr.Client.Application
@inject LoaderService _loaderService;


<div class="page" style="@_pageStyle">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@if (_isLoading)
{
    <div class="center-screen">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
}

@code {
    private bool _isLoading = true;
    private string _pageStyle = "display: none";

    protected override void OnInitialized()
    {
        _loaderService.LoaderState += RefreshLoaderState;
        base.OnInitialized();
    }

    private void RefreshLoaderState(bool state)
    {
        _isLoading = state;
        if (state)
            _pageStyle = "display: none";
        else
            _pageStyle = "";
        StateHasChanged();
    }
}